<?xml version="1.0"?><!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <connectionStrings>
    <add name="connectionstring" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=c:\users\dheeraj\documents\visual studio 2012\WebSites\E-Notice Board1\App_Data\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <sessionState mode="InProc" timeout="10"/>
    <compilation debug="false" targetFramework="4.5">
    </compilation> 
  </system.web>
</configuration>